UserService\UserService.Domain\bin
UserService\UserService.Domain\obj
UserService\UserService.Host\.vs
UserService\UserService.Host\bin
UserService\UserService.Host\obj
UserService\UserService.Infrastructure\bin
UserService\UserService.Infrastructure\obj